body{
    color: rgb(10, 0, 145);
    font-family: "GoogleSans", sans-serif;
    font-weight: 10;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    background-image: linear-gradient(rgb(254, 223, 223), rgb(141, 255, 246));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nav-links {
  list-style: none;         
  margin: 10;
  padding: 0;
  display: flex;            
  gap: 50px;               
  justify-content: center;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    background-color: #110982;
    border: 2px solid #cbd5e1;
    border-radius: 10px; 
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease;
}
.nav-links a:hover {
  color: #27c7f8;
  padding: 5px;
}
.Welcome{
    font-family: "GoogleSans", sans-serif;
    font-size: 15px;
    text-align: center;
}
button{
    font-size: 15px;
    font-family: "GoogleSans", sans-serif;
    background-color: white;
    padding: 10px 10px;
    border-radius:10px;
    color: black;
    cursor: pointer;
}
button:hover{
    border: solid 2.5px black;
    background-color: rgb(10, 0, 145);
    color: white;
    cursor: pointer;
}
